/*Custom css to customize default views*/

body {
    background-color: #F4FFFF;
}

.Create-Button {
    text-align:center;
    padding:10px; 
    background-color:coral; 
    width: 100px; 
    border-radius: 25px; 
    color: black;
    
    border: solid;
    border-color: #CF6A00;
    color: black;
}

.Clear-Text-Form {
    
    text-decoration: none;
    text-align: center;
    padding: 10px;  
    background-color: coral;
    width: 100px; 
    border-radius: 25px; 
    color: black;
    border: solid;
    
}

.Nav-Color-Bev {
    color: black;
    margin: 0;

}

.LinkBackground {
    background-color: #BCF8FF;
}

.btn-Style {
    background-color: coral; 
    color: black;
}
