@model cis237Assignment6.Models.Beverage

@{
    ViewBag.Title = "Error";
}

@*Page created to direct the user when they have entered an already existing id
    when they try to create a new beverage*@

<h2>ID Error</h2>

<p>You attempted to enter in an ID which already exists. Make sure that new IDs don't match existing ones.</p>

<p>
    @Html.ActionLink("Back to Index", "Index")
</p>


