@model cis237Assignment6.Models.Beverage

@{
    ViewBag.Title = "Error";
}

<h2>ID Error</h2>

<p>You have been redirected for attempting to enter in an ID into a new beverage. IDs cannot be entered twice.</p>


