@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*Contact page with contact information*@

<address>
    342 North Way Lanes<br />
    Kalamazoo, MI 49071<br />
    <abbr title="Phone">P:</abbr>
    (269)-808-6652
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jmeachum17@gmail.com">jmeachum17@gmail.com</a>
</address>