@{
    ViewBag.Title = "Home Page";
}

@*Main page that gives brief info on the site.*@

<div class="jumbotron">
    <h1>Beverage Database</h1>
    <p class="lead">This site allows you to access hundreds of stored wine beverages on a database.</p>

    <img  src="~/Content/Pictures/pour_the_red_wine_picture_167106.jpg" height="600" width="402" />
    
</div>
